<div id="redmine_comment_only">
<% reply_links = authorize_for('issues', 'edit') -%>
<% for journal in journals %>
  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %> <%= journal.notes.blank?  ? 'redmine_comment_only_hidden' : '' %>">
    <div id="note-<%= journal.indice %>">
    <h4><%= link_to "##{journal.indice}", {:anchor => "note-#{journal.indice}"}, :class => "journal-link" %>
    <%= avatar(journal.user, :size => "24") %>
    <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></h4>

    <% if journal.details.any? %>
    <ul class="details redmine_comment_only_hidden">
      <% details_to_strings(journal.details).each do |string| %>
       <li><%= string %></li>
      <% end %>
    </ul>
    <% end %>
    <%= render_notes(issue, journal, :reply_links => reply_links) unless journal.notes.blank? %>
    </div>
  </div>
  <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>
<% end %>

<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>
</div>

<hr>

<a id='redmine_comment_only_display_button' href='javascript:void(0)'>
  <%= l(:label_redmine_comment_only_display_all) %>
</a>

<% content_for :header_tags do %>
  <style>
    .redmine_comment_only_hidden {
      display: none;
    }
  </style>
  <script type="text/javascript">
    //<![CDATA[
    var RedmineCommentOnly = {
      "slideDuration": 100,
      "displayAll": function(evt) {
        $('.redmine_comment_only_hidden').slideDown(RedmineCommentOnly.slideDuration);
        $(this)
          .unbind('click')
          .click(RedmineCommentOnly.hideDetail)
          .text('<%= l(:label_redmine_comment_only_hide_detail) %>');
      },
      "hideDetail": function(evt) {
        $('.redmine_comment_only_hidden').slideUp(RedmineCommentOnly.slideDuration);
        $(this)
          .unbind('click')
          .click(RedmineCommentOnly.displayAll)
          .text('<%= l(:label_redmine_comment_only_display_all) %>');
      }
    };

    $(function() {
      $('#redmine_comment_only_display_button').click(RedmineCommentOnly.displayAll);
    }); 
    //]]> 
  </script>
<% end %>
